# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.production

# Vercel
.vercel/

# Frontend dependencies
frontend/node_modules/

# Backend dependencies
backend/node_modules/

# Build folders
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db